body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: blueviolet;
}

a {
    text-decoration: none;
}

#enlaceDecargarApp {
    col
}